
#header-section{
   width: 100%;
   height: 6em;
   background: #212121;
}



@media (orientation: landscape) {
   #header-section{
      padding: 0.5em 7.5%;
   }
}
@media (orientation: portrait) {
   #header-section{
      padding: 0.5em 5%;
   }
}



#header-logo{
   width: 100%;
   height: 100%;
   background-image: url('../res/logo.svg');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: 0% center;
}
